# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/.idea/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/project/project/
/project/target/
/target/
src/main/scala/com/gamelife/.scala-build/
